<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zombie game</title>
    <script src="js/jquery-1.10.2.min.js"></script>
    <style>
        #textarea {
            width: 500px;
            height: 100px;
        }


    </style>
</head>
<body>
<div class="information">
    <label class="information-name boardSize" for="gridSize">Grid Size</label>
    <input id="gridSize" type="text" name="gridName">
    <br/>
    <label class="information-name zombieLocationX" for="zombieX">Zombie x:</label>
    <input id="zombieX" type="number"/>
    <label class="information-name zombieLocationY" for="zombieY">Zombiey:</label>
    <input id="zombieY" type="number"/>
    <br/>
    <label class="information-name gameObject" for="command">Moving Direction:</label>
    <input id="command" type="text"/>
</div>

<div class="creature">
    <label class="creature-name creature1-X" for="creatureX1">Creature x:</label>
    <input id="creatureX1" type="number"/>
    <label class="creature-name creature1-Y" for="creatureY1">Creature y:</label>
    <input id="creatureY1" type="number"/>
    <br/>
    <label class="creature-name creature2-X" for="creatureX2">Creature x:</label>
    <input id="creatureX2" type="number"/>
    <label class="creature-name creature2-Y" for="creatureY2"> Creature y:</label>
    <input id="creatureY2" type="number"/>
    <br/>
    <label class="creature-name creature3-X" for="creatureX3">Creature x:</label>
    <input id="creatureX3" type="number"/>
    <label class="creature-name creature3-Y" for="creatureY3">Creature y:</label>
    <input id="creatureY3" type="number"/>
    <br/>
    <input class="but begin-but" id="button" type="submit" value="Begin"/>
</div>

<div class="result">
    <label for="textarea"></label>
    <textarea id="textarea"></textarea>
</div>

<script src="js/js.js"></script>


</body>
</html>